* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper{
  padding: 10px;
}

.loading {
  color: rgb(43, 19, 222);
  font-size: 30px;
  animation: Spinning linear 0.8s infinite;
  margin: 10px 0;
}

@keyframes Spinning {
  from {
    rotate: 0deg;
  } to {
    rotate: 360deg;
  }
}